{
  "presets": ["es2015", "stage-0"],
  "plugins": ["transform-runtime","transform-decorators-legacy","transform-vue-jsx",
    [
      "component", [{
      "libraryName": "element-ui",
      "styleLibraryName": "theme-default"
    }]
    ]
  ],
  "comments": false
}
